.heading {
  color: blue;
  font-family: Georgia, serif;
  font-size: 30px;
}
.body {
  color: red;
  font-family: Georgia, serif;
  font-size: 20px;
}
.answer {
  color: green;
  font-family: Georgia, serif;
  font-size: 20px;
}
