.heading {
  color: blue;
  font-family: Georgia, serif;
  font-size: 30px;
}
.result.error {
  color: red;
  font-family: Georgia, serif;
  font-size: 20px;
}
.result.success {
  color: green;
  font-family: Georgia, serif;
  font-size: 20px;
}
